<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication_scroll">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Popularlist_item"></activity>
        <activity android:name=".Mainpopularlist_item" />
        <activity android:name=".Albumlist_item" />
        <activity android:name=".Playlist_item" />
        <activity android:name=".StreamingSongList" />
        <activity android:name=".StreamingMain" />
        <activity android:name=".StreamingSongLyrics" />
        <activity android:name=".SongNCTActivity" />
        <activity android:name=".AlbumNCTActivity" />
        <activity android:name=".AlbumYEONGActivity" />
        <activity android:name=".Popular_Song_Activity" />
        <activity android:name=".SearchSongYEONGActivity" />
        <activity android:name=".SearchSongNCTActivity" />
        <activity android:name=".ArtistNCTActivity" />
        <activity android:name=".ArtistYEONGActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".SearchNCTActivity" />
        <activity android:name=".SearchYEONGActivity" />
        <activity android:name=".SongYEONGActivity" />
    </application>

</manifest>